/* CSS Reset */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
th, td {border: solid 1px #000;}

/* 나의 CSS */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:90%;
  height:auto;
}

#ani3 {
  width:100px;
  height:100px;
  margin: 0 auto;
  background-color:black;
  animation-name:bgchange;
  animation-duration:5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-play-state:paused;
  animation-direction: alternate-reverse;
}
@keyframes bgchange {

  0%{
    background-color:red;
    left: 0;
  }

  20%{
    background-color:orange;
    left: 25%;
    top: 200px;
  }

  40%{
    background-color:yellow;
    left: 50%;
    top: 200px;
  }

  60%{
    background-color:green;
    left: 30%;
    top: 0px;
  }

}

#trans5 {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: orange;
}

#trans5:hover {
  /* transform: translateX(300px); */
  transform: rotate(70deg);
  transform-origin: bottom center;
}

#head_title {
  text-align: center;
  font-size: 1.3em;
  margin: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 80%;
  height: auto;
  background-color: #c4c4c4;
  border: 1px solid black;
}

.flex-item {
  width: auto;
  margin: 5px;
  color: white;
  background-color: #52aaaa;
}

.flex-item:nth-child(2n) {
  background-color: #5ebfbf;
}

.grid-container{
  display:grid;
  grid-template-columns:50% 50%;
  grid-template-rows:50% 50%;
  width: 100%;
  height: auto;
  background-color: #ffc4c4;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
  place-items: center-center;
}

.gird-layout {
  display: grid;
  width: 90%;
}

.grid-item { 
  color:white;
  width: 90%;
  margin: 5px;
  background-color: hsl(132, 30%, 69%);
}

.grid-item:nth-child(2n){
  background-color:#5ebfbf;
}